/* Styling untuk layar dengan lebar maksimum 768px */
@media (max-width: 768px) {
        body {
        font-size: 1rem; /* 1 rem = ukuran font default html */
        margin: 1em;
        padding: 1em;
    }
    
    h1 {
        font-size: 1.5em; /* Perkecil heading */
    }

    .container {
        padding: 1.5em;
    }
}

/* Styling untuk layar dengan lebar maksimum 480px */
@media (max-width: 480px) {
    body {
        font-size: 1.2em; /* Lebih kecil lagi */
        margin: 5px;
        padding: 5px;
    }

    h1 {
        font-size: 1.2em; /* Heading lebih kecil */
    }

    .container {
        padding: 10px;
    }

    .button {
        font-size: 10px; /* Tombol lebih kecil */
        padding: 5px;
    }
}
